<style>
.grey{
    background-color: lightgray
}
.newCourse{
    float: right;
    display: block;
}
</style>
<h2>{{getTitle()}}</h2><span class="newCourse"><input type="text" appInputFormat/><input type="button" name="add_course" value="Add New Course" (click)="addNewCourse()"/></span><br/><br/>
    <div style="display:block" *ngFor="let course of courses; index as i; even as isEven" [class.grey]="isEven">
        <input type="checkbox" name="course_{{i}}"/> {{course.title | uppercase }}
        <app-favorite [isFavorite] = "course.isFavorite" (change)="onFavoriteChanged($event)"> </app-favorite><input type="button" name="remove" value="Remove" (click)="removeCourse(course)" style="float: right"/>
        <span style="display:block; padding-left:30px">Rating: {{course.rating | number:'1.1-1'}}</span>
        <span style="display:block; padding-left:30px">Students: {{course.students | number}}</span>
        <span style="display:block; padding-left:30px">Price: {{course.price | currency:'EUR':true:'3.2-2' }}</span>
        <span style="display:block; padding-left:30px">Release Date: {{course.releaseDate | date:'shortDate'}}</span>
        <span style="display:block; padding-left:30px"><a [routerLink]="['/courses', course.id, course.title]">More...</a></span>
        <hr>
    </div>
    <button class="btn btn-primary" [class.active] = "isActive" (click) = "enrollToCourse($event)">Enroll</button>